<%= render partial: "layouts/home_topbar" %>

<div id="posters">
    <div class="media-controller">
        <div class="poster-publish">
          <%= form_for @poster, html: {multipart: true, id: "frm-pub-poster"} do |f| %>
              <%= f.text_field :title, placeholder: "Nome do cartaz", id: "title-poster" %>
              <%= f.text_area :description, placeholder: "Informe uma descrição para o cartaz, se precisar user #, vai auxiliar as procuras.", id: "description-poster" %>
              <%= f.file_field :ref_imagem, id: "file-poster" %>
              <button id="sub-poster" name="sub-poster">Publicar</button>
          <% end %>
        </div>
    </div>
</div>
