<% content_for :css do %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all'%>
  <%= stylesheet_link_tag 'poster_show', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'poster_show' %>
<% end %>

<div class="topbar">
	<div class="back-home">
		<div class="plakat-logo">
			<a href="/">
				<%= render partial: "layouts/plakat_svg" %>
			</a>
		</div>
	</div>
	<div class="categories">

		<ul class="categories-horizontal-list">
			<%= render partial: "categories_items" %>
			<li class="extra-categories">
				<div class="category-front-shadow"></div>
				+<span class="extra-categories-number"></span>
			</li>
		</ul>
		<ul class="categories-vertical-list hidden-list">
			<%= render partial: "categories_items" %>
		</ul>
	</div>
	<div class="share-link">
		<span class="share-link-white-front"></span>
		<div class="share-icon">
			<%= render partial: "layouts/share_svg" %>
		</div>
		<span class="share-label">Compartilhar</span>
	</div>
</div>
