<% content_for :css do %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all'%>
  <%= stylesheet_link_tag 'poster_show', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'poster_show' %>
<% end %>

<% content_for :metatags do %>
	<!-- for Facebook -->          
	<meta property="og:title" content="<%= @poster.title %>" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="<%= @image_url %>" />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:description" content="<%= @poster.description %>" />
<% end %>

<ul class="top-menu">
	<li class="menu-icon more-btn"><%= render partial: "layouts/share_svg" %></li>
	<li class="menu-icon share-btn"><%= render partial: "layouts/share_svg" %></li>
	<li class="menu-icon close-btn"><%= render partial: "layouts/share_svg" %></li>
</ul>

<div id="plak" class="plak <%= image_presence_class(@image_url) %>">
	<% if @image_url %>
		<div class="plak-image">
			<img src="<%= @image_url %>"></img>
			<div class="categories">
				<%= render partial: "categories_items" %>
			</div>
		</div>
	<% end -%>
</div>
