<% content_for :css do %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all'%>
  <%= stylesheet_link_tag 'poster_show', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'poster_show' %>
<% end %>

<div class="topbar">
	<div class="back-home">
		<div class="plakat-logo">
			<a href="/">
				<%= render partial: "layouts/plakat_svg" %>
			</a>
		</div>
	</div>
	<div class="categories">
		<div class="categories-wrapper">
		<ul class="categories-horizontal-list">
			<%= render partial: "categories_items" %>
			<li class="extra-categories">
				+<span class="extra-categories-number"></span>
			</li>
		</ul>
		<ul class="categories-vertical-list hidden-list">
			<%= render partial: "categories_items" %>
		</ul>
		</div>
	</div>
	<div class="share-link">
		<span class="share-link-white-front"></span>
		<div class="share-icon">
			<%= render partial: "layouts/share_svg" %>
		</div>
		<span class="share-label">Compartilhar</span>
	</div>
</div>

<div class="plak">
	<div class="plak-image">
		<img src="https://plakat.s3.amazonaws.com/uploaded_posters/large_imagem1.jpg"></img>
	</div>

	<div class="plak-content">
		<h2 class="plak-title">Lorem ipsum dolor sit amet.</h2>
		<p class="plak-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt cupiditate aperiam beatae sint id consectetur mollitia quia quasi voluptate libero minus eum illo, architecto consequuntur eaque laboriosam magnam alias cumque. ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, iusto. Voluptates reprehenderit quod, suscipit neque aliquid alias, accusamus sint, nihil hic amet temporibus ad id. Quam tempora ipsam cupiditate, quia! ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ducimus possimus quas eos alias? Rem quasi voluptates ratione, odio, ad tenetur repudiandae vero eos vel! Veritatis sunt officia, a vel.</p>
	</div>
</div>
