<% content_for :metatags do %>
	<!-- for Facebook -->          
	<meta property="og:title" content="<%= @poster.title %>" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="<%= @image_url %>" />
	<meta property="og:url" content="<%= request.original_url %>" />
	<meta property="og:description" content="<%= @poster.description %>" />
<% end %>

<%= render partial: "layouts/toolbar" %>

<div class="plak <%= image_presence_class(@image_url) %>">
	<% if @image_url %>
		<div class="plak-image">
			<img src="<%= @image_url %>"></img>
		</div>
	<% end -%>

	<div class="plak-content">
		<h2 class="plak-title"><%= @poster.title %></h2>
		<p class="plak-description"><%= @poster.description %></p>
	</div>
</div>
