<!DOCTYPE html>
<html>
<head>
  <title>Plakat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all'%>
	<%= yield :css %>
	<%= yield :metatags %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :js %>
</body>
</html>
